@use "../../styles/variables" as v;
@import "../../styles/mixins";

.timeline {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  overflow-x: auto;
  padding: 1rem;

  div {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 10rem;
  }

  .timelineItemWrapper {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 1rem;
    align-items: center;
    position: relative;

    .timelineSide {
      position: absolute;
      height: 1.5rem;
      bottom: -6rem;
      border-radius: 50%;
      width: 1.5rem;
      background-color: #f5f5f5;
      z-index: 2;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      transition: all 0.3s ease-out;
    }

    .active {
      background-color: v.$primary-purple;
    }
  }

  .timelineLine {
    position: relative;
    height: 10px;
    width: 100%;
    background-color: #f5f5f5;
    margin: 5rem 0;
    overflow: hidden;

    .timelineFill {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0%;
      background-color: v.$primary-purple;
      transition: width 0.3s ease-out;
    }
  }
}
