@use "../../styles/variables" as v;
@import "../../styles/mixins";

.aboutMe {
  height: calc(100vh - 100px);
  overflow: scroll;
  overflow: -moz-scrollbars-none;

  &::-webkit-scrollbar {
    display: none;
  }

  @include lg {
    display: flex;
    height: calc(300vh + 100px);
    position: relative;
    overflow: visible;
  }

  .containerOuter {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 100%;

    @include md {
      display: block;
    }

    @include lg {
      overflow: hidden;
      position: sticky;
      top: 0px;
      align-items: center;
      height: 100vh;
    }

    img {
      display: none;
    }

    hr {
      border-color: v.$primary-purple;
    }
  }
}
