@use "../variables.scss" as v;

.aboutMe {
  height: calc(100vh - 100px);
  overflow: scroll;
  overflow: -moz-scrollbars-none;

  .containerOuter {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 100%;

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: justify;
      box-sizing: border-box;
      padding: 0 25px;

      h2 {
        font-size: 1.75rem;
        color: v.$primary-purple;
        font-weight: bold;
      }

      h3 {
        font-weight: 400;
        color: v.$primary-purple;
        font-size: 1rem;
        margin: 0;

        strong {
          font-size: 1rem;
          color: v.$primary-purple;
          float: left;
          margin-right: 2px;
        }
      }

      span {
        font-weight: bold;
        text-transform: uppercase;
        width: 100%;
        float: left;
        margin-top: 5px;
      }

      p,
      ul,
      strong,
      span {
        font-size: 0.75rem;
        color: v.$primary-purple;
        text-align: start;
      }
    }

    img {
      display: none;
    }

    .scrollContainer {
      overflow-y: auto;
      height: 100%;
      padding-right: 15px;
      padding-bottom: 15px;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      div {
        width: 100%;
        display: flex;
        flex-direction: column;
      }
    }

    hr {
      border-color: v.$primary-purple;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
