@use "../variables.scss" as v;

.aboutMe {
  height: calc(100vh - 100px);
  overflow: scroll;
  overflow: -moz-scrollbars-none;

  .containerOuter {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 100%;

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: justify;
      box-sizing: border-box;
      padding: 0 25px;

      h2 {
        font-size: 2.1875rem;
        color: v.$primary-purple;
        font-weight: bold;
      }

      h3 {
        font-weight: 400;
      }

      span {
        font-weight: bold;
        text-transform: uppercase;
      }

      p,
      ul,
      h3,
      strong,
      span {
        font-size: 0.6875rem;
        color: v.$primary-purple;
      }
    }

    img {
      display: none;
    }

    .scrollContainer {
      overflow-y: auto;
      height: 50%;
      padding-right: 15px;
    }

    hr {
      border-color: v.$primary-purple;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
