@use '../variables.scss' as v;

.aboutMe {
  height: calc(100vh - 100px);
  overflow: scroll;
  overflow: -moz-scrollbars-none;

  .containerOuter {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 100%;
    padding: 0 25px;

    .container {
      display: block;
      margin: 260px 25px 25px 0;
      text-align: justify;

      h2 {
        font-size: 2.1875rem;
        color: v.$primary-purple;
        font-weight: bold;
      }

      h3 {
        font-weight: 400;
      }

      span {
        font-weight: bold;
        text-transform: uppercase;
      }

      p,
      ul,
      h3,
      strong,
      span {
        font-size: 0.5625rem;
        color: v.$primary-purple;
      }
    }

    .experience {
      padding-right: 25px;
    }

    img {
      display: none;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
