@use "../variables.scss" as v;

.footer {
  height: 200px;
  background-color: v.$footer-color;
  position: relative;

  .icons {
    display: flex;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    width: 100%;
    font-size: 2.5rem;
    justify-content: center;
    gap: 0.5rem;

    .icon {
      color: v.$white;
    }
  }

  span {
    color: v.$primary-green;
    font-size: 1rem;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 20px;
  }
}
