@use '../variables.scss' as v;

.container {
  width: 100%;
  flex-shrink: 0;
  position: relative;

  .text {
    position: absolute;
    top: 45%;
    transform: translate(0, -50%);
    margin: 0 30px;

    span {
      font-size: 2.5rem;
      font-weight: bold;
    }

    p {
      font-size: 1.375rem;

      strong {
        font-size: 0.75rem;
      }
    }
  }

  a {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 300px;
    height: 60px;
    background-color: v.$primary-purple;
    color: v.$white;
    font-size: 1rem;
    bottom: 130px;
    font-weight: bold;
    overflow: hidden;

    span {
      position: absolute;
      left: 40%;
      transform: translate(-50%, -50%);
      top: 50%;
      text-transform: uppercase;
    }

    .icon {
      color: v.$white;
      font-size: 2rem;
      position: absolute;
      left: 80%;
      transform: translate(-50%, -50%);
      top: 50%;
    }

    .btnDynamic {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      transition: all ease 0.5s;
      background-color: v.$white;
      color: v.$primary-purple;

      .icon {
        color: v.$primary-purple;
      }
    }

    &:hover .btnDynamic {
      transform: translateX(100%);
    }
  }
}
