.work {
  height: 100vh;
  overflow: scroll;
  overflow: -moz-scrollbars-none;

  .containerOuter {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 100%;
  }
  @media (max-width: 1440px) {
    button {
      display: none !important;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
