@media (min-width: 1440px) {
  .aboutMe {
    display: flex;
    height: calc(100vh + 100px);
    position: relative;

    .containerOuter {
      overflow: hidden;

      .container {
        height: 100%;
        flex-shrink: 1;
        overflow: hidden;
        transform: translate(0, 200px) scale(0.1);
        opacity: 0;
        border: none;
        transition: all 0.75s cubic-bezier(0.175, 0.885, 0.32, 1.3);

        h2 {
          font-size: 3.75rem;
        }

        p,
        ul,
        h3,
        strong,
        span {
          font-size: 1rem;
        }
      }

      .skill {
        margin-top: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .experience {
        margin-top: 150px;
      }

      .transition {
        transform: none;
        opacity: 1;
      }

      img {
        position: absolute;
        width: 100px;
        display: block;
      }

      .stairs {
        width: 60px;
      }

      .circle1 {
        top: 820px;
        left: 200px;
      }

      .stairs1 {
        top: 890px;
        left: 350px;
      }

      .circle2 {
        top: 250px;
        left: 550px;
      }

      .stairs2 {
        top: 320px;
        left: 650px;
        transform: rotate(270deg);
      }
    }
  }
}
