@use "../variables.scss" as v;

@media (min-width: 1440px) {
  .header {
    nav {
      transition: all 0.75s cubic-bezier(0.175, 0.885, 0.32, 1.3);
      hr {
        display: none;
      }

      .spanMenu {
        display: none;
      }
      .icon {
        position: absolute;
        color: v.$white;
        font-size: 2rem;
        right: 115px;
        top: 35px;
        display: block;
      }
    }

    .white {
      height: 0px;
      color: v.$primary-purple;

      .icon {
        color: v.$black;
      }

      a {
        color: v.$primary-purple;
      }
    }
    .bust {
      transform: scale(1);
      .head {
        left: 65%;
        top: 170px;

        .face.shadow {
          display: block;
          top: -310px;
          z-index: 0;
          background-color: transparent;
        }
      }
    }
    .background {
      height: 45vh;
      width: 60vw;
      top: 330px;
      left: 60%;
    }

    .name {
      margin: -200px 120px;
      text-align: left;
      font-size: 5rem;

      .hi {
        font-weight: 400;
        display: block;
      }

      strong {
        display: inline-block;
      }

      .description {
        display: block;
        font-size: 1.5rem;
        margin: 20px 0;
        width: 500px;
      }
    }

    span.scroll {
      position: absolute;
      top: 600px;
      left: 300px;
      transform: translate(-20%, 0);
    }

    div.scroll {
      top: 650px;
      left: 327px;
      height: 50%;
    }

    .menuDesktop {
      display: block;
      position: absolute;
      bottom: 55px;
      right: 25px;
      width: 100px;
      height: 150px;

      .headerMenu {
        font-size: 0.75rem;
        color: v.$primary-green;
        font-weight: bold;
        border-bottom: 1px solid v.$primary-green;
        text-align: right;
        display: block;
        padding: 0 0 7.5px;
        margin: 0 0 20px 50px;
        cursor: default;
      }

      .menuDesktopFixed {
        position: fixed;
        width: 100px;
        z-index: 10000;

        .subMenu {
          margin: 5px 0;
          position: relative;
          cursor: pointer;
          .dot {
            width: 15px;
            height: 15px;
            background-color: v.$primary-green;
            border: 3.5px solid v.$primary-green;
            box-sizing: border-box;
            transform: rotate(45deg) scale(0.5);
            position: absolute;
            transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.3);
          }

          .scrollDot {
            transform: rotate(0deg);
            background-color: transparent;
          }

          .scrollDotColor {
            transform: rotate(0deg);
            background-color: transparent;
            border: 3.5px solid v.$primary-purple;
          }

          .colorDot {
            background-color: v.$primary-purple;
            border: 3.5px solid v.$primary-purple;
          }

          .line {
            width: calc(100% - 30px);
            height: 1px;
            background-color: v.$primary-green;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
          }

          .colorLine {
            background-color: v.$primary-purple;
          }

          button {
            display: block;
            background-color: transparent;
            border: none;
            color: v.$primary-green;
            font-size: 0.75rem;
            text-align: right;
            width: 100%;
            padding: 0 0 20px 0;
            visibility: hidden;
            cursor: pointer;
            transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.3);
          }

          button:hover {
            visibility: visible;
          }

          .colorButton {
            color: v.$primary-purple;
          }
        }

        .subMenu:hover button {
          visibility: visible;
          letter-spacing: 2px;
        }

        .subMenu:hover .line {
          height: 2px;
        }
      }
    }
  }
}
