@use "../variables.scss" as v;

@function delay($index) {
  @return 0.1s * ($index - 1);
}

@media (min-width: 1440px) {
  .work {
    .container {
      width: 50%;
      background-color: v.$white;
      color: v.$primary-purple;
      border: 0.5px solid v.$primary-purple;
      transition: all 1s;
      transform-origin: center left;
      position: absolute;
      top: 0;
      left: 50%;
      height: 100%;

      a {
        border: 2px solid v.$primary-purple;
        bottom: 50px;
      }

      &:nth-child(1) {
        left: 0;
        transform: translateX(-1000px);
      }

      @for $i from 2 through 50 {
        &:nth-child(#{$i}) {
          $translateX: if($i == 1, -1000px, 1000px);
          transform: translateX($translateX);
          transition: all 1s delay($i);
        }
      }
    }

    .transition {
      transform: translateX(0) rotateX(10deg) !important;
    }

    @for $i from 1 through 50 {
      .active#{$i} {
        transform: translateX(-100%)
          translateZ(-#{$i + 10}px)
          rotateX(10deg) !important;
      }
    }
  }
}
